Repository NCATComp410/comp410_spring_2025, pull requests merged in 2025-02, with the labels that each got.

#40 1 detect us ssn
  test_team_null.py
Labels: NULL

#44 16 it fiscal code
  test_team_not_like_us.py
Labels: Not Like Us

#42 Add IT_DRIVER_LICENSE positive test case
  test_team_not_like_us.py
Labels: Not Like Us

#45 5 detecting it vat code
  test_team_not_like_us.py
Labels: Not Like Us

#43 it_identity_card positive test case
  test_team_not_like_us.py
Labels: Not Like Us

#52 final merge IT_Identity_Card
  test_team_not_like_us.py
Labels: Not Like Us

#51 9 it passport
  test_team_not_like_us.py
Labels: Not Like Us

#57 12 credit card
  test_team_chaos_coordinators.py
Labels: Chaos Coordinators

#53 26 crypto
  test_team_chaos_coordinators.py
Labels: Chaos Coordinators

#48 13 detect us bank number
  test_team_tech_titans.py
Labels: Tech Titans

#56 19 us driver license
  test_team_tech_titans.py
Labels: Tech Titans

#54 URL
  test_team_tech_titans.py
Labels: Tech Titans

#58 20 us itin
  test_team_tech_titans.py
Labels: Tech Titans

#63 Detect AU_ABN
  test_team_410_developers.py
Labels: 410 Developers

#62 AU_MEDICARE Test Cases
  test_team_410_developers.py
Labels: 410 Developers

#71 AU_TFN positive
  test_team_410_developers.py
Labels: 410 Developers

#67 IN_Vehicle_Registration positive and negative test cases
  test_team_code_crafters.py
Labels: Code Crafters

#73 IN_VOTER Test Cases
  test_team_code_crafters.py
Labels: Code Crafters

#68 17 - Medical License
  test_team_410_developers.py
  test_team_chaos_coordinators.py
  test_team_cmd.py
  test_team_code_crafters.py
  test_team_tech_titans.py
Labels: Chaos Coordinators

#69 Added positive and negative test cases for ABA ROUTING NUMBER
  test_team_410_developers.py
Labels: 410 Developers

#75 IN_PAN Test Cases
  test_team_null.py
Labels: Code Crafters

#66 25 detect ip address
  test_team_cmd.py
Labels: CMD

#65 35 fi personal identity code
  pii_scan.py
  test_team_cmd.py
Labels: CMD

#49 23 detect iban
  test_team_cmd.py
Labels: CMD
